/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A0E27;
    color: #ffffff;
}

/* Encabezado */
header {
    background-color: #1B1F3B;
    color: #00E5FF;
    padding: 1em;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 60px;
}

/* Menú de navegación */
nav {
    background-color: #1B1F3B;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
nav a {
    color: #00E5FF;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s;
}
nav a:hover {
    color: #FFD700;
}

/* Contenedor de las secciones */
section {
    padding: 4em 2em;
    margin-top: 100px;
    max-width: 900px;
    margin: auto;
    transition: transform 0.5s;
}

/* Título de cada sección */
h2 {
    text-align: center;
    color: #00E5FF;
    margin-top: 0.5em;
}

/* Estilos para subtítulos y contenido */
.section-content {
    margin: auto;
    padding: 1em;
    background: #1B1F3B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.subtitle {
    font-weight: bold;
    margin-top: 1em;
    color: #FFD700;
}

/* Footer */
footer {
    background-color: #1B1F3B;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
}
